@model BusinessLogicLayer.SimuuBLL

@{
    ViewBag.Title = "Details";
}

    <div class="sizer">

        <h2>Read</h2>

        <div>
            <h4>SimuuBLL</h4>
            <hr />
            <dl class="dl-horizontal">
                @*<dt>
                    @Html.DisplayNameFor(model => model.SimuuID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuID)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuAge)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuAge)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuBirth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuBirth)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuDeath)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuDeath)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuXCoordinate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuXCoordinate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuYCoordinate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuYCoordinate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImpulseToRest)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImpulseToRest)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImpulseToDrink)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImpulseToDrink)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImpulseToEat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImpulseToEat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StatEnergy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StatEnergy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StatThirst)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StatThirst)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StatHunger)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StatHunger)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuMovementSpeed)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuMovementSpeed)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SimuuSenseRadius)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SimuuSenseRadius)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.UserID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserID)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserEmail)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PasswordHash)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.PasswordSalt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PasswordSalt)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.RoleID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoleID)
                </dd>*@

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SimuuID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>